body{
    background-color: #F7F7F7;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top:0px;
    z-index: 200;
    width: 100%;
}

.navbar{
    width: fit-content;
    background-color: black;
    margin: 0px auto;
    padding: 20px 0px;
}

.navbar a{
    color: #E6E6E6;
    font-size: 16px;
    display: inline-block;
    width: 120px;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color:#C6FFC1;
}

.dropdown{
    display: flex;
}

@media only screen and (min-width: 376px) and (max-width:1024px){
    header{
        background-color: black;
    }
}

@media only screen and (max-width: 375px){
    header{
        background-color: black;
    }
    .dropdown a{
        height: 25px;
    }
    .dropdown-content{
        display: none; 
        position: absolute;
        top:45px;
        z-index: 1;
        background-color: black;
        max-width: 120px;
        min-height: 60px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
      }
}