html{
    font-size: 16px;
}
body{
    background-color: #F7F7F7;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top:0px;
    z-index: 200;
    width: 100%;
}

.navbar{
    width: fit-content;
    background-color: black;
    margin: 0px auto;
    padding: 20px 0px;
}

.navbar a{
    color: #E6E6E6;
    font-size: 16px;
    display: inline-block;
    width: 120px;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color:#C6FFC1;
}

.navbar-content{
    display: flex;
}

.bold{
    font-weight: bolder;
}

.italic{
    font-style: italic;
}

.container{
    width: 100%;
    display:grid;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
/*    grid: repeat(30,73px) / repeat(16,3fr);*/
}

.introduction{
    position: relative;
    grid-column: 1 / span 3;
    width: 100%;
    height: 41rem;
}

.main-phrase{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 100%;
    font-size: 1.5rem;
}


.img-container{
    position: relative;
    grid-column: 1 / span 2;
    width: 20rem;
    top: 20%;
    left: 8%;
}

.img-container img{
    width: 100%;
    height: auto;
}

.second-introduction{
    grid-column: 3 / span 1; 
}


.second-introduction .alt-phrase{
    position: relative;
    top: 30%;
    left: -10%;
    font-size: 1.5rem;
    text-align: right;   
}


.side-intro{
    position: relative;
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    background-color: #AAA99A;
}



.card{
    grid-column: 4 / span 2;
    width: 12rem;
    height: 18.75rem;
    position: relative;
    top: 22%;
    right: -30%;
    background-color: black;
    z-index: 10;
}

.card button{
    width: 100px;
    height: 30px;
    background-color: #C6FFC1;
    border-radius: 5px;
    border-color: black;
    position: relative;
    top: 70%;
    left: -18%;
}

/*
.backcard{
    grid-column: 4 / span 2;
    width: 200px;
    height: 300px;
    position: relative;
    top: -25%;
    left: 35%;
    background-color: #E6E6E6;
    z-index: 1;
}

/*
.card-img-container{
    width: 70px;
    height: 70px;
}

.card-img-container img{
    width: 100%;
}
.name{
    color: #E6E6E6;
    font-size: 22px;
    position: absolute;
    top: 45%;
    left: 22%;
    text-align: center;
    font-weight: bolder;
}
*/

.intro-social-media{
    display: inline;
    position: absolute;
    top: 75%;
    right: 20%;
}

.intro-social-media img{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}

@media only screen and (min-width: 426px) and (max-width:1023px){
    header{
        background-color: black;
    }

    .introduction{
        grid-column: 1 / span 2;
        width: 100%;
    }

    .main-phrase{
        position: absolute;
        top: 15%;
        left: 5%;
        width: 100%;
        font-size: 1.2rem;
    }

    .img-container{
        position: relative;
        grid-column: 1 / span 1;
        width: 20rem;
        top: 10%;
        left: 12%;
    }
    
    .img-container img{
        width: 50%;
        height: auto;
    }

    .second-introduction{
        grid-column: 2 / span 1; 
    }
    
    .second-introduction .alt-phrase{
        position: relative;
        top: -5%;
        left: -20%;
        font-size: 1.5rem;
        text-align: right;   
    }
    
    .side-intro{
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        background-color: #AAA99A;
    }

    .card{
        grid-column: 3 / span 1;
        background-color: black;
        z-index: 10;
        width: 10rem;
        height: 18.75rem;
        position: relative;
        top: 19%;
        right: -18%;
        background-color: black;
        z-index: 10;
    }
    
    .card button{
        width: 100px;
        height: 30px;
        background-color: #C6FFC1;
        border-radius: 5px;
        border-color: black;
        position: relative;
        top: 60%;
        left: 18%;
    }

}

@media only screen and (max-width: 425px){
    header{
        background-color: black;
    }

    .navbar{
        width: inherit;
    }
    .navbar-content a{
        width: 25%;
    }
    
    .introduction{
        position: relative;
        grid-column: 1 / span 2;
        width: 100%;
    }

    .main-phrase{
        position: absolute;
        top: 10%;
        left: 5%;
        width: 20rem;
        height: 10rem;
        font-size: 0.8rem;
    }

    .img-container{
        display: none;
    }
    
    .second-introduction{
        grid-column: 2 / span 1; 
    }
    
    .second-introduction .alt-phrase{
        position: absolute;
        top: 55%;
        right: 10%;
        font-size: 1rem;
        text-align: right;
        z-index: 100;   
    }

    .side-intro{
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        background-color: #AAA99A;
    }

    .card{
        grid-column: 1 / span 1;
        background-color: black;
        z-index: 10;
        height: 5rem;
        width: 12.75rem;
        position: absolute;
        top: -38%;
        right: 10%;
        background-color: black;
        z-index: 10;
    }
    
    .card button{
        font-size: .45rem;
        width: 60px;
        height: 20px;
        background-color: #C6FFC1;
        border-radius: 5px;
        border-color: black;
        position: relative;
        top: 26%;
        left: -2%;
    }

    .intro-social-media{
        display: inline;
        position: absolute;
        top: -14%;
        left: 6%;
    }
    
    .intro-social-media img{
        width: 20px;
        height: 20px;
        margin: 0px 5px;
    }


}